<section class="section">
    <div class="container">
        <!--contact form-->
        <form (ngSubmit)="submitForm()" #contactForm="ngForm">
            <!--name-->
            <div class="field">
                <label class="label">Name*</label>
                <input type="text" name="name" class="input" [(ngModel)]="name" #nameInput="ngModel" required>

                <div class="help is-error" *ngIf="nameInput.invalid && nameInput.touched">
                    Your name is required.
                </div>
            </div>


            <!--email-->
            <div class="field">
                <label class="label">Email*</label>
                <input type="email" name="email" class="input" [(ngModel)]="email" #emailInput="ngModel" required>

                <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">
                    Your email is required.
                </div>
            </div>

            <!--message-->
            <div class="field">
                <label class="label">Message</label>
                <textarea name="message" class="textarea"></textarea>
            </div>

            <!--button-->
            <button type="submit" class="button is-large is-warning" [disabled]="contactForm.invalid">Submit</button>
        </form>
    </div>
</section>