<section class="section">
    <div class="container">
        <div class="card columns is-multiline" *ngIf='user'>
            <div class="card-content column is-6">
                <img [src]="user.avatar_url">
            </div>
            <div class="card-content column is-6">
                <h2 class="is-size-1">{{ user.login }}</h2>
                <h3>User URL: <a href="{{ user.url }}" target="_blank">{{ user.url }}</a></h3>
                <h3>User Github URL: <a href="{{ user.html_url }}" target="_blank">{{ user.html_url }}</a></h3>
                <h3>User Github followers: <a href="{{ user.followers_url }}" target="_blank">{{ user.followers_url }}</a></h3>
                <h3>User following: <a href="{{ user.html_url }}" target="_blank">{{ user.html_url }}</a></h3>
                <h3>User Gists: <a href="{{ user.gists_url }}" target="_blank">{{ user.gists_url }}</a></h3>
                <h3>User Organizations: <a href="{{ user.organizations_url }}" target="_blank">{{ user.organizations_url }}</a></h3>
            </div>
        </div>
    </div>
</section>